/* Header.module.css */
/* O React vai gerar nomes únicos para essas classes */
.container {
    background-color: #212529; /* bg-dark do bootstrap */
    padding: 2rem 0;
    text-align: center;
    border-bottom: 3px solid #0d6efd; /* Borda azul */
    margin-bottom: 2rem;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

.corX {
    color: red; /* Azul */
}

.corY {
    color: #0d6efd;
}